
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="app-content content ">
  <div class="content-overlay"></div>
  <div class="header-navbar-shadow"></div>
  <div class="content-wrapper container-xxl p-0">
    <div class="content-header row">
    </div>
    <div class="content-body">
      <!-- Dashboard Ecommerce Starts -->
      <section id="dashboard-ecommerce">
        <div class="row match-height">
          <div class="col-12">
            <div class="card card-statistics">
              <div class="card-header">
                <h4 class="card-title">Statistics</h4>
                <div class="d-flex align-items-center">
                  <p class="card-text font-small-2 me-25 mb-0 calc-time-diff">Updated <%=
                                                moment().format() %>
                  </p>
                </div>
              </div>
              <div class="card-body statistics-body">
                <div class="row">
                  <div class="col-xl-4 col-sm-6 col-12 mb-2 mb-xl-0">
                    <div class="d-flex flex-row">
                      <div class="avatar bg-light-primary me-2">
                        <div class="avatar-content">
                          <a href="/user/list">
                            <i data-feather="user" class="avatar-icon"></i>
                          </a>
                        </div>
                      </div>
                      <div class="my-auto">
                        <h4 class="fw-bolder mb-0">
                          <%=userStat.totalUsers%>
                        </h4>
                        <p class="card-text font-small-3 mb-0">Total Users</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-4 col-sm-6 col-12 mb-2 mb-xl-0">
                    <div class="d-flex flex-row">
                      <div class="avatar bg-light-primary me-2">
                        <div class="avatar-content">
                          <a href="/user/list?status=Active">
                            <i data-feather="user" class="avatar-icon"></i>
                          </a>
                        </div>
                      </div>
                      <div class="my-auto">
                        <h4 class="fw-bolder mb-0">
                          <%=userStat.activeUsers%>
                        </h4>
                        <p class="card-text font-small-3 mb-0">Active Users</p>
                      </div>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      

      </section>
      <!-- Dashboard Ecommerce ends -->

    </div>
  </div>
</div>


  
    
