<div class="">
    <div class="">Hello <%= name %>,</div>
    <div class=""><p>We have recived a request to reset your password.</p></div>
    <div class=""><p>Here is your new password : <strong><%= password%></strong></p></div>
    <div class=""><p>Thank You,</p></div>
    <div class=""><%= project_name %></div>
</div>